.App {
  text-align: center;
  /* background-color: black; */
  /* background-image: linear-gradient(to right, rgb(9, 91, 192) , rgb(189, 23, 11)); */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.banner-source {
  background-color: gray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.banner-source-far-left {
  border-right: 1em solid rgb(0, 50, 110);
}

.banner-source-left {
  border-right: 1em solid rgb(9, 91, 192);
}

.banner-source-far-right {
  border-right: 1em solid rgb(114, 8, 0);
}

.banner-source-right {
  border-right: 1em solid rgb(189, 23, 11);
}
.grouped-articles {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title-a:link {
  color: black;
}
.card-deck {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
#number {
  background-color: grey !important;
  border-radius: 5px;
}
.card-title-a:visited {
  color: black;
}

.bg-red-blue-gradient {
  background-color: red;
  background-image: linear-gradient(to right, rgb(9, 91, 192) , rgb(189, 23, 11));
}

.custom-searchbar {
  width: 25rem !important;
}

.carousel-item {
  background-color: black;
  height: 480px;
}

.carousel-item > img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* object-fit: cover; */
}

.form-control:focus {
  border-color: #7e7e7e !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(97, 97, 97, 0.5) !important;
}

.carousel {
  width: 100% !important;
}

.pagination {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.article-grp-img {
  max-height: 400px;
  max-width: 600px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 10px;
  /* margin-left: 300px; */
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
/*end comment section*/

.article-container {
  padding-left: 10px !important;
}

.article {
  border: none !important;
}

.tag {
  font-family: sans-serif;
  font-style: italic;
  background-color: #A9A9A9;
  width: 120px;
  height: 20px;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.main-loading-spinner {
  margin-top: 5rem;
}

.navbar {
  margin-bottom: 10px !important;
}

a .navbar-brand-custom {
  color: white;
  text-decoration: none;
}

.navbar-brand-custom:hover {
  color: white;
  text-decoration: none;
}

.search-form {
  width: 100%;
  max-width: 70rem;
}

.upvote-button-left {
  cursor: pointer;
}

.upvote-button-left:hover {
  color: rgb(20,90,188);
}

.upvote-button-left:active, .upvote-button-right:active {
  border: 1px solid black;
  border-radius: 50%;
}

.upvote-button-right {
  cursor: pointer;
}

.upvote-button-right:hover {
  color: rgb(188,23,12);
}


.searchButton:focus {
  background: rgb(97, 97, 97);
}

.search-bar-wrapper {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.leftupvote-unclicked {
  background-color: white !important;
  font-size: 30px !important;
  color: rgb(20,90,188) !important;
  border-color: rgb(20,90,188) !important;
}

.leftupvote-clicked {
  background-color: rgb(20,90,188) !important;
  font-size: 30px !important;
  border-color: rgb(20,90,188) !important;
}

.rightupvote-unclicked {
  background-color: white !important;
  font-size: 30px !important;
  color: rgb(188,23,12) !important;
  border-color: rgb(188,23,12) !important;
}
.rightupvote-clicked {
  background-color: rgb(188,23,12) !important;
  font-size: 30px !important;
  border-color: rgb(188,23,12) !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

#feed-container {
  margin-top: 20px;
}

.sign-form {
  vertical-align: top;
}

.sign-container {
  padding-top: 15px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 25%;
  text-align: center;
  margin: auto;
  margin-top: 75px;
}

.sign {
  margin-top: 15px;
  padding-left: 5px;
  width: 80%;
}

#sign-submit{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
}

.about-container {
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-style: solid;
  border-color: black;
  border-width: thin;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 75px;
}

.BiasChart {
  margin-left: 190px;
  mergin-right: auto;
  width: 50%;
}
