.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.banner-source {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.banner-source-left {
  background-color: rgb(9, 91, 192);
}

.banner-source-right {
  background-color: rgb(189, 23, 11)
}
.grouped-articles {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-grp-img {
  max-height: 400px;
  max-width: 600px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 10px;
  padding-left: 10px;
}

.article-container {
  padding-left: 10px !important;
}

.article {
  border: none !important;
}

.article-description {  
  height: 200px;
}


