.App {
  text-align: center;
  /* background-color: black; */
  /* background-image: linear-gradient(to right, rgb(9, 91, 192) , rgb(189, 23, 11)); */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.banner-source {
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.banner-source-left {
  background-color: rgb(9, 91, 192);
}

.banner-source-right {
  background-color: rgb(189, 23, 11)
}
.grouped-articles {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-title-a:link {
  color: black;
}

.card-title-a:visited {
  color: black;
}

.bg-red-blue-gradient {
  background-color: red;
  background-image: linear-gradient(to right, rgb(9, 91, 192) , rgb(189, 23, 11));
}

.custom-searchbar {
  width: 25rem !important;
}

.carousel-item {
  background-color: black;
  height: 480px;
}

.carousel-item > img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* object-fit: cover; */
}

.carousel {
  width: 100% !important;
}

.pagination {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.article-grp-img {
  max-height: 400px;
  max-width: 600px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 10px;
  /* margin-left: 300px; */
}

/*comment section*/
body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
/*end comment section*/

.article-container {
  padding-left: 10px !important;
}

.article {
  border: none !important;
}

.tag {
  font-family: sans-serif;
  font-style: italic;
  background-color: #A9A9A9;
  width: 120px;
  height: 20px;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search-container {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  border: 1px solid rgb(47, 45, 45);
  background: rgb(47, 45, 45);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
