.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.left-article .card-body {
  background-color: rgba(7, 47, 95, 0.507);
}

.right-article .card-body {
  background-color: rgba(233, 29, 14, 0.527);
}
