.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.banner-source {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.banner-source-left {
  background-color: rgb(9, 91, 192);
}

.banner-source-right {
  background-color: rgb(189, 23, 11)
}
.grouped-articles {
  background-color: rgba(82, 82, 82, 0.185);
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-img {
  max-height: 400px;
}
